#chat-window {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 1000;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: calc( 3rem + 1rem + 5px );
	height: calc( 3rem + 1rem + 8px );
	padding: 0.5rem;

	background-color: var(--shadow);
	-webkit-backdrop-filter: blur(36px);
	backdrop-filter: blur(36px);

	border: 3px solid var(--glass);
	border-radius: 2rem;
}
#chat-window.open {
	width: 24rem;
	height: 36rem;

	bottom: 1rem;
	right: 1rem;

	border-radius: 2rem;
}

#conversation {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	overflow-y: auto;
	flex: 1;
	padding: 0.5rem;
	margin-bottom: 0.5rem;

	width: 100%;
	min-height: 0;

	color: white;

	border-top: 2px solid var(--glass);
	border-bottom: 2px solid var(--glass);
	border-radius: 1.5rem;
}

.message {
	border-radius: 1rem;
	background-color: var(--gold);
	color: black;

	box-shadow: 0 0 0.5rem var(--shadow);
	border: 2px solid var(--shadow);

	padding: 0.5rem 0.75rem;
	max-width: 80%;

	align-self: flex-start;
}
.message.user {
	background-color: var(--crimson-alt);
	color: white;
	align-self: flex-end;
}

#message-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: calc( 100% - 3.5rem );
	margin-right: auto;

	padding: 0.25rem;
	padding-left: 1rem;

	background-color: var(--glass);
	color: white;
	
	border: 3px solid var(--glass);
	border-radius: 1.5rem;
}

#message-input {
	flex: 1;
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
	color: white;
	padding: 0.25rem;
	padding-right: 1rem;
}
#message-input::placeholder {
	color: var(--glass);
	opacity: 1;
}

#send-btn-container {
	width: 2.5rem;
	height: 2.5rem;
	border: 2px solid var(--glass);
	border-radius: 2rem;

	background-color: var(--gold);
	box-shadow: 0 0 0.5rem var(--shadow);

	cursor: pointer;
}
#send-btn-container:hover {
	background-color: white;
}

#send-btn-icon {
	width: 1.5rem;
	height: 1.5rem;
	align-content: center;
	fill: black;
}

#chatbot-icon-container{
	cursor: pointer;
	position: fixed;
	bottom: calc( 0.5rem + 2px );
	right: calc( 0.5rem );

	width: 3rem;
	height: 3rem;

	display: flex;
	justify-content: center;
	align-content: center;
	overflow: visible;

	background-color: var(--crimson-alt);
	box-shadow: 0 0 0.5rem var(--gold);

	border: 2px solid var(--crimson);
	border-radius: 50%;
}
#chatbot-icon-container:hover {
	transform: scale(1.1);
	box-shadow: 0 0 1rem white;
}

#chatbot-icon {
	width: 100%;
	fill: var(--gold);
	transition-duration: 0s;
}
#chatbot-icon:hover {
	fill: white;
}