#gallery-section {
    background-color: white;
    color: black;
}

.gallery-tabs{
    display: flex;
    flex-direction: row;
    align-items: end;
    height: max-content;
    gap: 0.25rem;
}

.gallery-tab-btn {
    cursor: pointer;
    background-color: transparent;

    border: 1px solid var(--crimson);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-left-radius: 1rem;
    
    padding: 1rem;
    padding-bottom: 0.75rem;
}
.gallery-tab-btn:hover{
    background-color: var(--gold);
}
.gallery-tab-btn.active {
    border: 1px solid var(--crimson);
    border-radius: 1rem 1rem 0rem 0rem;
    padding-bottom: 1.5rem;
    background-color: var(--crimson);
    color: var(--gold);
}

#gallery {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 4, 1fr ) );
    max-width: 50rem;

    margin-top: -1rem;
    padding: 1rem;
    gap: 1rem;

    background-color: var(--crimson);
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem var(--crimson);
}

.gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;

    border: 0.25rem solid var(--gold-alt);
    border-radius: 0.75rem;
}

.image-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    /* height: min-content; */
    
    background-color: var(--gold);

    border: 0.25rem solid var(--gold);
    border-radius: 1rem;

}
.image-frame:hover {
    transform: scale(1.025);
    box-shadow: 0 0 1rem var(--gold);
}

.image-caption {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: black;
}

/* Special handling for landscape images */
.landscape {
    grid-column: span 2; /* Landscape images span 2 columns */
}
  
.portrait {
    grid-column: span 1; /* Portrait images fit in 1 column */
}

/* Media Queries for responsiveness */
@media (min-width: 1024px) {
    #gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 468px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
        border-radius: 0 0 2rem 2rem;
    }
}