* {
    margin: 0; padding: 0;
    transition: all 0.3s ease;
    text-decoration: none;
    box-sizing: border-box;
    font: inherit;
}

:root {
    /* SUM Colors */
    --crimson: rgb(155, 22, 38);
    --crimson-alt: #74000d;
    --gold: #FFB923;
    --gold-alt: #ffe09d;
    --bg: black;
    --text: black;
    --glass: rgba(255, 255, 255, 0.2);
    --crimson-glass: rgba(155, 22, 38, 0.9);
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg);
    color: var(--text);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 1rem;
    padding: 3rem 1rem;   /* Top, right, bottom, left */
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.btn {
    cursor: pointer;
    padding: 1rem;
    color: black;
    background-color: var(--gold);
    border: 3px solid var(--glass);
    border-radius: 0.25rem;
}
.btn:hover {
    color: var(--crimson);
    transform: scale(1.05);
    box-shadow: 0 0 0.75rem var(--gold);
}
.btn:active {
    color: white;
    box-shadow: 0 0 1rem black;
    transform: scale(1);
}

.portrait {
    border: 0.25rem solid white;
    border-radius: 0.5rem;
}

/* Icons */
.icons {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
    width: auto;
    color: white;
}
.icon:hover {
    color: var(--gold);
    transform: scale(1.1);
}

/* Sign up forms */
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input {
    width: 15rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--gold);
    border-radius: 0.5rem;
}
input:hover {
    box-shadow: 0 0 0.75rem var(--gold);
}