#mission-section {
    position: relative;
    background-color: var(--crimson);
    color: white;
    overflow: hidden;
}

/* Background phoenix with parallax effect */
.background-phoenix {
    position: absolute;
    top: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 150%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    opacity: 0.25;
    z-index: 0;
}

#mission-section p {
    max-width: 40rem;
    padding: 0.5rem;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(2rem);
    border: 3px solid var(--glass);
    border-radius: 0.5rem;
}
#mission-section p:hover {
    transform: scale(1.025);
    box-shadow: 0 0 1rem var(--shadow);
}